div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: transparent;
}

.btn-xs {
  padding: .75rem .75rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
  margin-bottom: -1.5rem;
}