
{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url(' {{ url_for('static', filename='img/about-bg.jpg') }} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <style>
    #im{
      max-width: 50%;
      height: auto;
    }
  </style>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>BranDut A Marketing Market Place.</p>
        <img src="{{ url_for('static', filename='img/alpa.jpeg') }}" class="img-fluid" id="im" alt="Responsive image">


        <p>We are a Market Place that is bridging gap between customers and service providers by providing verified marketers from Marketing, advertising and branding industry. We integrate technology for marketers to make an easier process to book an appointment and track the meeting schedule with clients. </p>


      </div>
    </div>
  </div>

{% endblock %}