
{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>BrandDut</h1>
            <span class="subheading">A Marketing Marketplace</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->



<div class="scrollmenu">
  <a href="#about"><button type="button" class="btn btn-outline-secondary rounded-pill">Featured</button></a>
  <a href="#about"><button type="button" class="btn btn-outline-secondary rounded-pill">Featured</button></a>
  <a href="#about"><button type="button" class="btn btn-outline-secondary rounded-pill">Featured</button></a>
  
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">






    {% for post in posts.items %}
    
        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">BrandDut</a>
            on {{post.date}}</p>
        </div>
        {{post.content[0:100]}}...
        <hr>

    {% endfor %}

    
        <!-- Pager -->
    {% set p = '/city/' + spost.city + '/' + prev %}
    {% set n = '/city/' + spost.city + '/' + nextpg %}
        <div class="clearfix">
          <a class="btn btn-primary float-left" href="{{p}}"> &larr; Previous</a>
          <a class="btn btn-primary float-right" href="{{n}}">Next &rarr;</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

